# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.idea/

# Pytest cache
.pytest_cache/

# Allure results
allure-results/

# Logs
*.log
/.gitignore
